body{
    margin: 0;
    padding: 0;
}
.head-container {
    background-color: black;
}
.head-container header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.head-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-container ul li{
    list-style-type: none;
    padding: 0px 20px;
}
.head-container ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.head-container ul li a:hover{
   color: blue;
   font-weight: 700;
}
.head-container svg {
   cursor: pointer;
}
.return{
    width: 80%;
    margin: 50px auto;
    font-weight: 30px;
}
.return a{
    color: grey;
    text-decoration: none;
}
.return a:hover{
    color: black;
    font-weight: 700;
}
.container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

.checkout{
    background-color: rgb(249,249,249);
    padding: 50px;
    border-radius: 10px;
    grid-row: 1/3;
}
.form{
    display: flex;
    flex-direction: column;
}
.form h4{
    color: chocolate;
    text-transform:uppercase;
    font-size: 13px;
}
.form label{
   font-weight: 700;
   display: block;
   margin-bottom: 10px;
}
.form input{
   padding: 10px;
   border-radius: 5px;
   border: 2px solid rgb(149, 148, 148);
    margin-bottom: 30px;
    box-sizing: border-box;
}
.form .name, .country{
   width: 100%;
   display: flex;
   gap: 20px;
}

.container #address{
    width: 100%;
}

.payment{
    display: grid;
    grid-template-columns: auto auto;
}
.payment .method{
    grid-column: 1/2;
    grid-row: 1/3;
}
.payment input{
   margin: 0px;
   margin-right: 5px;
}
.payment label{
   margin: 0px;
}
#money, #cash{
    display: flex;
    border:2px solid rgb(149, 148, 148) ;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    font-size: 13px;
}

.summary{
    background-color: rgb(249,249,249);
    padding: 30px;
}
.summary h5{
    font-size: 18px;
    text-align: left;
    margin-bottom: 0px;
}
.summary .cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summary .cart .image{
    width: 100%;
    margin-right: 30px;
}
.summary .cart img{
    width: 50%;
    margin-right: 30px;
    border-radius: 10px;
}
.summary .product{
    display: flex;
    margin: 30px 0px;
}

.checkout-price .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout-price .price h4{
    color: rgb(149, 148, 148);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.checkout-price .price span{
    font-weight: 600;
}
.summary button{
    text-transform: uppercase;
    background-color: chocolate;
    padding: 10px;
    border: none;
    color: white;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}
.summary button:hover{
    color: rgb(213, 207, 207);
    font-weight: 600;
}
footer{
    background-color: black;
}
footer .head{
    width: 80%;
    margin:auto;
    margin-top:50px ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
footer .head ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
footer .head ul li a{
    color: white;
    text-decoration: none;
}
footer .content{
    color: gray;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .content .text{
    width: 50%;
}
footer .content .text p{
   margin: 40px 0px;
}
footer .content .social{
    display: flex;
    gap: 20px;
    align-items: center;
}
/* RESPONSIVENESS */
@media (min-width:769px){
    .hamburger-icon{
        display: none;
    }
}
@media(max-width:768px){
    .head-container header ul{
        display: none;
    }
    .container{
    grid-template-columns: auto;
    gap: 50px;
}

}
@media(max-width:426px){
    .container{
    width: 100%;
    }
    .checkout{
    padding: 10px;
    }
    footer .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    footer .head ul{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    footer .content{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 30px;
    }
}        